*{
	padding: 0;
	margin: 0;
	font-family: Helvetica;
}

body{
	color: $primary-text-colour;
}

.flexible{
	display: flex;
}

.row {
  flex-direction: row;
}

.col{
	display: flex;
	justify-content: center;
	flex-direction: column;
   transition: $transition;
}

.header{
	background-color: $primary-colour;	
	height: $header-height;
	z-index: 3;
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: row;
}

a.button-back,
a.button-website{
	background-color: lighten($primary-colour, 0%);
	text-align: center;
	color: $primary-text-colour;
	font-size: 2vh;
	&:hover{
		background-color: darken($primary-colour, 10%);
	}
}

a.button-back{
	border-right: 1px solid lighten($primary-colour, 2%);
}

a.button-website{
	border-left: 1px solid lighten($primary-colour, 2%);
}

.vertical-column{
	height: $vertical-button-height;
	text-align: center;
	&:hover{
		width: $hover-expand;
	}
	.fa{
	   margin: 4vh 0;
	}
}

// .blue-darken-1::before{
// 	content: " ";
// 	background: transparent url('/images/bond-admin-doc.png');
// 	opacity: 0.08;
// 	top: 0;
// 	left: 0;
// 	bottom: 0;
// 	right: 0;
// 	position: absolute;
// 	z-index: 2;   
	
// }

@for $i from 1 through $columns {
  .col-span-#{$i} {
    width: ((100 / $columns) * $i) * 1%;
  }
}

@for $i from 1 through $grid-colours {
  .block-section-#{$i} {
    background-color: adjust-hue($primary-colour, $i * $hue-amount);
    opacity: 0.98;
  }
}

.button{
	border: 2px solid $primary-text-colour;
	color: $primary-text-colour;
	display: table;
	margin: 2vh auto;
	border-radius: 50px;
	padding: 1vh 2vh;
	line-height: 1.5;
	font-size: 1.5vmin; 
	&:hover{
		background-color: $primary-text-colour;
		color: $primary-colour;
	}
}

.logo-container{
	width: 40vw;
	display: flex;
	img{
		width: 100%; 
	}
}


.bottom-row{
	z-index: 3;
	position: relative;
}