$columns: 																						12;
$primary-colour: 																				#146CBA;
$primary-text-colour: 																		#fff;
$font-stack: 																					"Helvetica Neue", Helvetica, Arial, sans-serif;

$hover-expand: 																				40%; 

$grid-colours: 																				5;
$hue-amount: 																					5;

$transition: 																					all .5s;

$header-height: 																				50vh;

$vertical-button-height: 																	100vh - $header-height; 
 
//fonts
$h1-size: 																						4vh;
$h2-size: 																						3vh;
$h3-size: 																						20px;
$p-size: 																						2vh; 
$line-height: 																					1.5;
 