!!!
%html
  %head 
    %meta{charset: "utf-8"}/
    %meta{content: "text/html;charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{content: "utf-8", "http-equiv" => "encoding"}/
    %link{href: "/favicon.ico?1390322924", rel: "shortcut icon", type: "image/vnd.microsoft.icon"}/
    %title Tite
    %link{href: "css/styles.css", media: "screen", rel: "stylesheet", type: "text/css"}/
    /[if lt IE 10]

  %body
    .row
      .col.col-span-12.header
        %a.button-back{:href => ""}
          Back
        %h1 MyMaths
        %a.button{:href => ""}
          Visit website 
    .row.flexible 
      .col.col-span-3.vertical-column.blue-darken-1
        %i.fa.fa-map.fa-2x
        %h2 Admin documentation
        %a.button{:href => ""}
          View documentation on github 
      .col.col-span-3.vertical-column.blue-darken-2
        %i.fa.fa-wrench.fa-2x
        %h2 Staging site
        %a.button{:href => ""}
          Visit staging website
      .col.col-span-3.vertical-column.blue-darken-3
        %i.fa.fa-list-alt.fa-2x
        %h2 Change log
        %a.button{:href => ""}
          View changelog on github 
      .col.col-span-3.vertical-column.blue-darken-4
        %i.fa.fa-paint-brush.fa-2x
        %h2 Style Guide
        %a.button{:href => ""}
          View online style guide

       




